<h1>Restaurants</h1>

<% @restaurants.sort.each do |restaurant| %>
<div class="restaurant-card">
      <span class="item">
      <%= restaurant.name %>
      </span>
      <span>
      <%= link_to "Show", restaurant_path(restaurant) %>
      </span>
  </div>
<% end %>
