.navbar-lewagon {
  justify-content: space-between;
  background: #318fb5;
  border-radius: 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link img {
  width: 40px;
}
